@page "/login"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http 

<input @bind="secret" class="form-control mb-2" placeholder="Enter secret" />
<button class="btn btn-primary" @onclick="LoginUser" type="button">Login</button>
<p>@log</p>



@code {
    private string secret = string.Empty;
    private string? log = "";

    private async Task LoginUser()
    {
        log += "Click triggered. ";
        log += secret;
        StateHasChanged();
        var content = JsonContent.Create(secret);
        var response = await Http.PostAsync("/api/auth/login", content);
        log += response.StatusCode;
        StateHasChanged();

        if (response.IsSuccessStatusCode)
        {
            // Auth cookie was issued, but the circuit still unauthenticated
            // Force a full reload so Blazor sees the auth state
            //Navigation.NavigateTo("/", forceLoad: true);
            log += "Logged in.";
            Navigation.NavigateTo("/", forceLoad: true);
        }
        else
        {
            log += "Invalid secret.";
        }
        StateHasChanged();
    }
}