@page "/autocounter"
@rendermode InteractiveAuto

<PageTitle>Auto Counter</PageTitle>

<h1>Auto Counter</h1>

<p>
    <span class="badge text-bg-primary">
        @(RendererInfo.IsInteractive ? "Interactive" : "Not Interactive") (@RendererInfo.Name)
    </span>
</p>

<p>
    <span class="badge text-bg-primary">
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>Authorized</Authorized>
                <NotAuthorized>Not Authorized</NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </span>
</p>

<p>This counter is set for InteractiveAuto render mode and should run on the server initially and then the client.</p>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
